# node.js 生成的文件
node_modules/
package-lock.json

# 日志文件
logs/

# rnode 生成的文件
rchain/*
!rchain/rnode-release
!rchain/rnode0/genesis
rnode.data.dir_IS_UNDEFINED/

# 数据库文件
src/database/

# .gitingore 必须要有
!.gitingore